#button1{
    background-color: #61c3d7;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 16px 100px;
    font-size: 16px;
    margin-left: 43%;
}
.tabb{
    width: 50%;
    height: 45%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;
    table-layout: fixed;
    text-align: center;

}
.tabb th {
    font-weight: bold;
    padding: 5px;
    background: #ececec;
    border: 1px solid black;
}
.tabb td {
    border: 1px solid black;
    padding: 5px;
}
