.tabb1{
    width: 50%;
    height: 45%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    background: #fcfcfc;
    border: 5px solid #959595;
    border-radius: 12px;
}
th {
    font-size: 15px;
    font-family: "Arial", sans-serif;
    margin: 0 auto;
    text-align: center;
    background: #61c3d7;
}
td{
    font-size: 17px;
    font-family: "Arial", sans-serif;
    margin: 0 auto;
    text-align: center;
}
table td:nth-child(6)
{
    background-color: #9acce0;
}
.header{
    padding: 25px;
    text-align: center;
    font-size: 30px;
    color: black;
}
.text{
    text-align: justify;
    font-size: 22px;
    margin-left: 26%;
}
.text1{
    text-align: justify;
    font-size: 22px;
    margin-left: 63%;
}
.body{
   background: #DFCFBE;
}

